
.nav .hoverborder {
	padding: .4em 0.8em;
	color: rgba(255,255,255,0.5);
	position: relative;
	text-decoration: none;
}

.nav .hoverborder:before,
.nav .hoverborder:after {
	height: 20px;
	width: 20px;
	position: absolute;
	content: '';
	transition: all 0.5s ease;
	opacity: 0;
	
}

.nav .hoverborder:before {
	right: 0;
	top: 0;
	border-right: 3px solid #d63031;
	border-top: 3px solid #d63031;
	transform: translate(-100%, 50%);
}

.nav .hoverborder:after {
	left: 0;
	bottom: 0;
	border-left: 3px solid #d63031;
	border-bottom: 3px solid #d63031;
	transform: translate(100%,-50%);
}

.hoverborder:hover:before,
.hoverborder:hover:after {
	transform: translate(0%,0%);
	opacity: 1;
}